# Banco de dados (Supabase)
DATABASE_URL=sua_chave_aqui

# Mercado Pago
MP_ACCESS_TOKEN=seu_token_aqui

# URL do seu site no Render (preenche depois que criar o app lá)
BASE_URL=sua_url_aqui

# Email para envio (Gmail)
EMAIL_REMETENTE=seu_email_aqui
EMAIL_SENHA=sua_senha_aqui

# Email recuperação de senha
EMAIL_RECUPERACAO=seu_email_aqui
EMAIL_SENHA_RECUPERACAO=sua_senha_aqui

# Supabase (upload de imagens)
SUPABASE_URL=sua_url_do_banco_aqui
SUPABASE_KEY=sua_chave_do_bd_aqui

#Senha do Ademir
ADMIN_PASSWORD=sua_senha_aqui
ADMIN_SECRET_KEY=sua_senha_aqui